@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body, main {
  min-height: 100vh;
  background-color: #f8f9fa;
}

.container, .main {
  min-height: 100vh;
}

.card {
  background-color: #212529;
}

.card-1:hover {
  background-color: #c9cad9;
}

.card-2:hover {
  background-color: #d1d2f9;
}

.card-3:hover {
  background-color: #a3bcf9;
}

.card-4:hover {
  background-color: #7796cb;
}

.card a {
  color: #e9ecef;
}

.card a:hover {
  color: #212529;
  // color: #f8f9fa;
}

.icon-18 { font-size: 18px; }
.icon-24 { font-size: 24px; }
.icon-32 { font-size: 32px; }
.icon-48 { font-size: 48px; }
.icon-96 { font-size: 96px; }

* {
  font-family: 'Roboto', sans-serif;
}

.fab, .far, .fas {
  color: #212529;
}

@media print {
  .border,
  .border-right {
    border-color: #000000 !important;
  }

  table, tr, td, td > a.text-light, i.text-light {
    color: #000000 !important;
  }

  * {
      color: #000000 !important;
      background: none !important;
  }
}
